<% provide(:title, @band.name) %>

<div class="row">
	<div class="span3">
		<center>
			<h2><%= @band.name %></h2>
			<p><%= band_image(@band, :medium) %></p>
		</center>
	</div>

	<div class="span7 offset1">
		<h3>Albums</h3>
		<table class="table">
			<thead>
				<tr>
					<th width="10%">Artwork</th>
					<th width="30%">Title</th>
					<th width="20%">Year</th>
					<th width="30%">Recording Location</th>
					<th width="5%"></th>
					<th width="5%"></th>
				</tr>
			</thead>

			<tbody>
			  <% @band.albums.each do |album| %>
			  	<tr>
			  		<td><%= link_to (album_image(album, :small)), album_url(album) %></td>
			    	<td><%= link_to album.title, album_url(album) %></td>
			    	<td><%= album.year %></td>
			    	<td><%= album.studio_album? ? "Studio" : "Live" %></td>
			    	<td><%= link_to 'Edit', edit_album_path(album) %></td>
			    	<td><%= link_to 'Delete', album_path(album), :method => :delete, 
			    					:data => { confirm: "Really delete #{album.title}?" }, class: "btn btn-danger btn-mini" %></td>
			    </tr>
			  <% end %>
			</tbody>
		</table>
		<%= link_to "+ Add Album", new_band_album_url(@band), class: "btn btn-success" %>
	</div>
</div>

<hr>

<%= render 'shared/back' %>
